@import url(style.css);
@import url(gallery.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    position: relative;
}
:root{
    --main-color: #cbfc46;
    --font-color: rgba(0, 0, 0, 0.637);
    --border-color: white;
    --logo-color: rgb(255, 81, 0);
    --hover-color: rgba(128, 128, 128, 0.425);
    --background-color:  rgba(241, 241, 241, 0.397);
}
.room-opton-main-container{
    padding: 10px;
    width: 95%;
    max-width: 95%;
    margin: 20px auto 50px auto;
    height: auto;
    background-color: var(--background-color);
    border: 1px solid rgba(211, 211, 211, 0.205);
}

.tag-heading{
    font-weight: 600;
    font-size: 1.7rem;
    margin: 0;
    
}
.room-option{
    display: flex;
    justify-content: space-between;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.158);
    margin-top: 20px;
}
.room-option .room-image{
    max-width: 30%;
    height: 100%;
    /* background-color: red; */
}
.room-option .benifits-price{
    width: 68%;
    max-width: 68%;
    padding: 3px 15px;
    height: 100%;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.price-action-container{
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* background-color: green; */
   margin-bottom: 20px;
}
.price-action-container>div{
    width: 50%;
    
}
.room-option img{
    width: 100%;
    height: 100%;
}
.room-shot-desc{
    font-weight: 100;
    margin-top: 4px;
    color: gray;
}
.aminities-room{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aminities-room span{
 font-size: 1.5rem;
 padding: 10px;
 display: block;
 width: 25%;
 white-space: nowrap;
}
.aminities-room span i{
 margin-right: 2px;
}
.aminities-room .more{
    cursor: pointer;
    white-space: nowrap;
}
.action-buttons{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
}
.action-buttons span{
    display: block;
    width: 40%;
    font-size: 1.6rem;
    text-align: center;
    padding: 8px 2px;
    border-radius: 3px;
    color: crimson;
}
.action-buttons button{
    padding: 8px 0px;
    background-color:rgb(6, 204, 6);
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    color:white;
    width: 40%;
    margin: auto;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}
.action-buttons button:hover{
   
    background-color:rgba(6, 204, 6, 0.767);
    
}
.price{
    height: fit-content;
}
.cost-now{
    font-size: 2.2rem;
    font-weight: 600;
    margin: auto;
    height: 100%;
    color: crimson;
}
.mrp{
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
}
.discount{
    color: gold;
    font-size: 1.3rem;
    margin-left: 10px;
}
.rate-per-night{
    display: block;
    color: gray;
    font-size: 1.1rem;
    padding: 5px;
}

@media all and (max-width: 785px){
    html{
        font-size: 56%;
    }
    .tag-heading{
        font-size: 1.5rem;
    }
   .mrp,.discount{
       margin-left: 5px;
       
   }
   .room-shot-desc{
       margin-top: 1px;
   }
}
@media all and (max-width: 600px){
    html{
        font-size: 54%;
    }
    .room-option{
        flex-direction: column;
        justify-content: space-around;
       padding: 5px 5px 0px 5px;
        
    }
    .room-option .room-image{
        height: 40%;
        width: 100%;
    }
    .room-option .benifits-price{
        height: 55%;
        margin-bottom: 0;
    }

   .room-option .benifits-price{
       padding: 2px;
       width: 100%;
       max-width: 100%;
       background-color: #fff;
   }
   .aminities-room span{
    font-size: 1.1rem;
    padding: 10px 0;
    width: 25%;
   
   }
   .price-action-container{
    position: relative;
    width: 100%;
   align-items: center;
   justify-content: center;
   margin-bottom: 2px;
}
.room-shot-desc{
    margin-top: 1px;
}

}
